// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topnav {
  background-color: #ff6600;
  overflow: hidden;
  font-size: 17px;
}

.topnav a {
  color: #000000;
  text-decoration: none;
}

.bold {
	font-weight: bold;
}

.posts {
	background-color: #fcf0de;
	font-size: 17px;
}

.linkprev {
	font-size: 14px;
	color: grey;
}

.inline {
	display: inline;
}

.alert {
	background-color: #ffdddd;
}

body, html {
	padding: 0px 20px;
}

/* Need to figure out how to eliminate gap between the two divs (topnav and posts)*/